[submodule "let-over-lambda"]
	path = let-over-lambda
	url = https://github.com/thephoeron/let-over-lambda.git
[submodule "binding-arrows"]
	path = binding-arrows
	url = https://github.com/phoe/binding-arrows.git
[submodule "legochain"]
	path = legochain
	url = https://github.com/defunkydrummer/legochain.git
